#admin {
    position: absolute;
}

body {
    padding-top: 70px;
}

hr {
    border-color:#ececec;
}

.captcha_code_text {
    display: inline-block;
    width: 25%; 
    padding-top: 10px; 
}

.admin_news_img {
    width: 200px;
}

.well li.ui-state-default{
    background:#fff0;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

#scrollToTop {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../images/scroll_to_top.png');
    
    position: fixed;
    bottom: 16px;
    right: 16px;
    
    cursor: pointer;
}

